
node_modules/@babel/.DS_Store
node_modules/@babel/.DS_Store
node_modules/@csstools/.DS_Store
node_modules/@hapi/.DS_Store
node_modules/@humanwhocodes/.DS_Store
node_modules/@istanbuljs/.DS_Store
node_modules/@jest/.DS_Store
node_modules/@nodelib/.DS_Store
node_modules/@npmcli/.DS_Store
node_modules/@rollup/.DS_Store
node_modules/@sinonjs/.DS_Store
node_modules/@svgr/.DS_Store
node_modules/@testing-library/.DS_Store
node_modules/@types/.DS_Store
node_modules/@typescript-eslint/.DS_Store
node_modules/@webassemblyjs/.DS_Store
node_modules/@xtuc/.DS_Store
node_modules/@babel/.DS_Store
